/* Order.css */

.order-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa; 
    border-radius: 10px; 
    box-shadow: 0 0 10px #d40b0b1a; /* Box shadow for depth */
  }
  
  .header {
    display: flex;
    background-color: #494646;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav ul li:last-child {
    margin-right: 0;
  }
  
  .nav ul li a {
    text-decoration: none;
    color: #007bff;
  }
  
  .nav ul li a:hover {
    text-decoration: underline;
  }
  
  .form-container {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control {
    width: calc(100% - 40px); /* Subtract the padding from the total width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  